<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Traffic light</title>
</head>
<body>





<div id = "app">

    {{ colors }}

    <button v-on:click="getLight"> เปลี่ยนสีไฟ </button>
</div>

<script>
    var app = new Vue({
        el:'#app',
        data: {
         colors: [ 'green','yellow','red'] ,
         show: 'green'
               } ,

               
             methods: {
                 getLight: function (colors) {
                    return  console.log(this.colors[1]);
        }
        
        }

    });


</script>
</body>
</html>